body {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: #000000;
}

[class*="__container"] {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1230px;
}

[class*="__container-small"] {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1030px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #36003f;
  @include phone {
    font-size: 20px;
  }
}

.btn {
  display: inline-block;
  padding: 18px 20px;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  max-width: 310px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px;
  color: #000000;
  transition: opacity 0.2s ease-in;
  &-yellow {
    background-color: #f1ff18;
  }
  &-pink {
    background-color: #fed6f9;
  }
  &:hover {
    opacity: 0.8;
  }
}
