.header {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(100deg, #f39bf8 0%, #b092e5 93.85%);
    @include tablet {
        height: 80vh;
    }
    &__position-01 {
        position: absolute;
        top: 20px;
        left: 0;
        z-index: 0;
        width: 100%;
        max-width: 210px;
        height: auto;
    }
    &__position-02 {
        position: absolute;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
        width: 100%;
        max-width: 260px;
        height: auto;
        @include tablet-min {
            left: 30%;
        }
    }
    &__position-03 {
        position: absolute;
        bottom: 50px;
        right: 0;
        z-index: 0;
        width: 100%;
        max-width: 529px;
        height: auto;
        @include phone {
            display: none;
        }
    }
    &__position-03--mobile {
        display: none;
        position: absolute;
        bottom: 50px;
        right: 0;
        z-index: 0;
        width: 100%;
        max-width: 220px;
        height: auto;
        @include phone {
            display: block;
        }
    }
    &__hidden {
        display: none;
        overflow: hidden;
        opacity: 0;
        @include tablet {
            display: block;
        }
    }
    &__content {
        z-index: 5;
        h1 {
            margin-bottom: 10px;
            font-size: 70px;
            font-weight: 700;
            color: #ffffff;
            @include tablet {
                font-size: 44px;
            }
            @include tablet-min {
                margin-bottom: 14px;
                font-size: 34px;
            }
        }
        h2 {
            font-size: 50px;
            font-weight: 700;
            color: #36003f;
            @include tablet {
                font-size: 36px;
                max-width: 380px;
            }
            @include tablet-min {
                font-size: 26px;
            }
        }
    }
    &__wrapper {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 30px;
        @include tablet-min {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
        }
    }
    &__btn {
        position: relative;
        max-width: 240px;
        padding-right: 40px;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            width: 14px;
            height: 11px;
            background: url("@img/icons/arrow.svg") 50% 50% / cover no-repeat;
        }
    }
    &__btn--second {
        max-width: 120px;
        @include tablet-min {
            max-width: 240px;
        }
    }
    &__marquee {
        margin-bottom: 30px;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        background-color: #ffffff;
    }
}

.burger {
    position: static;
    padding-top: 20px;
    top: 0;
    left: 0;
    z-index: 20;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet {
            justify-content: flex-end;
        }
    }
}
.menu {
    &__icon {
        display: none;
        span,
        &::before,
        &::after {
            background-color: #ffffff;
        }
        @include tablet {
            display: block;
            position: relative;
            width: 34px;
            height: 18px;
            cursor: pointer;
            z-index: 5;
            span,
            &::before,
            &::after {
                position: absolute;
                left: 0;
                height: 10%;
                width: 100%;
                transition: all 0.3s ease 0s;
            }
            &::before,
            &::after {
                content: "";
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                top: 50%;
                transform: scale(1) translate(0px, -50%);
            }
            &._active span {
                transform: scale(0) translate(0px, -50%);
            }
            &._active::before {
                top: 50%;
                transform: rotate(-45deg) translate(0px, -50%);
            }
            &._active::after {
                bottom: 50%;
                transform: rotate(45deg) translate(0px, 50%);
            }
        }
    }
    &__body {
        z-index: 4;
        @include tablet {
            position: fixed;
            padding: 70px 20px 20px 20px;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            overflow: auto;
            background: linear-gradient(100deg, #f39bf8 0%, #b092e5 93.85%);
            transition: left 0.3s ease 0s;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 70px;
            }
            &._active {
                left: 0;
            }
        }
    }
    &__list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 16px;
        @include tablet {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__link {
        font-size: 16px;
        font-weight: 500;
        color: #ffffff;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: #36003f;
        }
    }
}

.content {
    padding: 100px 0px 150px 0px;
    position: relative;
    background-color: #ffffff;
    @include phone {
        padding: 50px 0px 80px 0px;
    }
    .content__text {
        position: relative;
        z-index: 5;
        h2 {
            margin-bottom: 24px;
            max-width: 724px;
            @include phone {
                margin-bottom: 16px;
                max-width: 370px;
            }
        }
        p {
            max-width: 380px;
            @include phone {
                font-size: 16px;
                max-width: 260px;
            }
        }
    }
    &__position--one {
        position: absolute;
        top: 40px;
        right: 70px;
        z-index: 0;
        @include tablet-min {
            top: 140px;
            right: 40px;
            max-width: 263px;
            transform: rotate(30deg);
        }
        @include phone {
            max-width: 180px;
        }
    }
    &__position--two {
        position: absolute;
        bottom: -50px;
        left: 10px;
        z-index: 0;
        @include phone {
            display: none;
        }
    }
}

.commercial {
    position: relative;
    padding: 70px 0px;
    background: linear-gradient(180deg, rgba(196, 188, 255, 0) 0%, #bcb9ff 100%);
    @include tablet {
        padding: 70px 0px 0px 0px;
    }
    @include phone {
        padding: 50px 0px 0px 0px;
    }
    h2 {
        margin-bottom: 60px;
        @include tablet {
            margin: 0px auto 40px auto;
            max-width: 450px;
            text-align: center;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @include tablet {
            flex-direction: column;
        }
    }
    &__top {
        width: 100%;
        max-width: 390px;
        color: #000000;
        @include tablet {
            margin: 0 auto;
            max-width: 600px;
        }
        h3 {
            margin-bottom: 24px;
            font-size: 20px;
            font-weight: 700;
            @include phone {
                font-size: 18px;
            }
        }
        p {
            margin-bottom: 14px;
            @include phone {
                font-size: 16px;
            }
        }
        li {
            font-size: 18px;
            color: #000000;
            @include phone {
                font-size: 16px;
            }
        }
    }
    &__bottom {
        padding: 30px;
        border-radius: 10px;
        background: #faadf4;
        @include tablet {
            margin: 0 auto;
            max-width: 600px;
        }
        h3 {
            margin-bottom: 14px;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
            color: #000000;
            @include phone {
                font-size: 18px;
            }
        }
        ul {
            margin-bottom: 18px;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        li {
            position: relative;
            padding-left: 20px;
            @include phone {
                font-size: 16px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 12px;
                height: 9px;
                background: url("@img/icons/arrow-2.svg") 50% 50% / cover no-repeat;
            }
        }
    }
    &__bottom-price {
        margin-bottom: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        p {
            font-size: 28px;
            font-weight: 700;
            @include phone {
                font-size: 20px;
            }
        }
        span {
            font-size: 20px;
            font-weight: 700;
            @include phone {
                font-size: 18px;
            }
        }
    }
    &__wrapper-btn {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
    &__btn {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 60px;
            transform: translateY(-50%);
            width: 14px;
            height: 11px;
            background: url("@img/icons/arrow.svg") 50% 50% / cover no-repeat;
        }
    }
    &__img {
        position: absolute;
        bottom: 0;
        left: 100px;
        @include tablet {
            position: static;
            max-width: 220px;
        }
        @include phone {
            position: static;
            max-width: 130px;
        }
    }
}

.template {
    padding: 80px 0px;
    background: linear-gradient(180deg, #BCB9FF 0%, #FACCFF 100%);
    @include tablet {
        padding: 10px 0px 60px 0px;
    }
    h2 {
        margin-bottom: 50px;
        text-align: center;
    }
    &__swiper {
        position: relative;
    }
    &__slide {
        padding: 0px 70px;
        text-align: center;
        @include phone {
            padding: 0px 20px;
        }
    }
    &__img--pc {
        @include tablet-min {
            display: none;
        }
    }
    &__img--mobile {
        display: none;
        @include tablet-min {
            display: block;
        }
    }
    &__btn-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 20;
        transform: translate(-50%, -50%);
        cursor: pointer;


        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.custom-prev,
.custom-next {
    position: relative;
    width: 54px;
    height: 47px;
    border-radius: 20px;
    background-color: #F1FF18;
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 11px;
    }
}

.custom-prev::after {
    background: url("@img/icons/arrow-prev.svg") 50% 50%/cover no-repeat;
}

.custom-next::after {
    background: url("@img/icons/arrow-next.svg") 50% 50%/cover no-repeat;
}

.adv {
    &__marquee {
        padding: 10px 0px 5px 0px;
    }
}

.promo {
    padding: 70px 0px 130px 0px;
    position: relative;
    background: linear-gradient(180deg, #fbccff 0.25%, #bdb9ff 99.63%);
    @include tablet {
        padding: 50px 0px;
    }
    h2 {
        margin-bottom: 60px;
        position: relative;
        z-index: 5;
        text-align: center;
        @include tablet-min {
            margin-bottom: 40px;
        }
    }
    &__position-01 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        @include tablet-min {
            bottom: -100px;
        }
    }
    &__position-02 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        @include tablet {
            top: 180px;
        }
    }
    &__wrapper {
        position: relative;
    }
    ul {
        position: relative;
        z-index: 5;
        width: 100%;
        max-width: 650px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
        gap: 30px;
        @include tablet {
            margin: 0 auto;
        }
        @include tablet-min {
            max-width: 410px;
        }
    }
    li {
        padding: 20px 30px;
        border-radius: 10px;
        background-color: #cb96ed;
        text-align: center;
        h4 {
            margin: 10px 0px 6px 0px;
            font-size: 20px;
            font-weight: 700;
        }
        p {
            text-align: left;
        }
    }
    &__img--laptop {
        position: absolute;
        top: 20px;
        right: 0;
        z-index: 1;
        width: 100%;
        max-width: 290px;
        height: auto;
        @include tablet {
            display: none;
        }
    }
}

.price {
    padding: 70px 0px;
    background: linear-gradient(0deg, rgba(190, 185, 255, 0) 0.43%, #beb9ff 99.65%);
    @include tablet-min {
        padding: 50px 0px 35px 0px;
    }
    h2 {
        margin-bottom: 60px;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        color: #36003f;
        @include tablet-min {
            margin: 0px auto 50px auto;
            max-width: 230px;
            font-size: 20px;
            color: #36003f;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(337px, 1fr));
        gap: 35px;
    }
    &__item {
        padding: 30px;
        border-radius: 10px;
        background-color: #faadf4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
            margin-bottom: 14px;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            @include tablet-min {
                font-size: 18px;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        li {
            position: relative;
            padding-left: 20px;
            font-size: 18px;
            font-weight: 500;
            @include tablet-min {
                font-size: 16px;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 12px;
                height: 9px;
                background: url("@img/icons/arrow-2.svg") 50% 50% / cover no-repeat;
            }
        }
        p {
            position: relative;
            padding: 18px 0px;
            font-size: 28px;
            font-weight: 700;
            text-align: center;
            @include tablet-min {
                font-size: 20px;
            }
            &::after {
                content: "грн";
                font-size: 20px;
            }
        }
    }
    &__close {
        position: relative;
        &::after {
            content: "";
            background: url("@img/icons/close.svg") 50% 50% / cover no-repeat !important;
        }
    }
}

.benefits {
    position: relative;
    padding: 70px 0px;
    background: linear-gradient(180deg, rgba(246, 202, 255, 0) 0%, #f6caff 100%);
    @include tablet-min {
        padding: 50px 0px;
    }
    &__position--01 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        max-width: 240px;
        @include tablet-min {
            display: none;
        }
    }
    &__position--02 {
        position: absolute;
        bottom: 50px;
        left: 0;
        z-index: 1;
        max-width: 420px;
        @include tablet-min {
            display: none;
        }
    }
    &__title {
        margin-bottom: 60px;
        position: relative;
        z-index: 5;
        text-align: center;
        @include tablet {
            margin-bottom: 40px;
        }
    }
    &__wrapper {
        position: relative;
        z-index: 5;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        @include tablet {
            flex-direction: column-reverse;
            gap: 40px;
        }
        img {
            width: 100%;
            max-width: 480px;
        }
    }
    &__content {
        max-width: 580px;
        h4 {
            font-size: 20px;
            font-weight: 700;
            max-width: 420px;
            @include phone {
                font-size: 18px;
            }
        }
        p {
            margin: 24px 0px 40px 0px;
            max-width: 420px;
            @include phone {
                margin: 16px 0px 40px 0px;
                font-size: 16px;
            }
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        @include tablet {
            flex-direction: column-reverse;
            gap: 35px;
        }
    }
    &__price {
        padding: 22px;
        font-weight: 700;
        text-align: center;
        border-radius: 10px;
        background-color: #faadf4;
        h3 {
            margin-bottom: 18px;
            font-size: 20px;
            @include phone {
                font-size: 18px;
            }
            span {
                font-size: 24px;
                @include phone {
                    font-size: 20px;
                }
            }
        }
        a {
            width: 180px;
            @include tablet {
                width: 255px;
            }
        }
    }
}

.features {
    padding: 50px 0px 80px 0px;
    background-color: #f6caff;
    @include tablet-min {
        padding: 50px 0px 50px 0px;
    }
    h2 {
        margin-bottom: 60px;
        text-align: center;
        @include tablet-min {
            margin-bottom: 40px;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        justify-content: center;
        align-items: center;
        gap: 35px;
        @include phone {
            gap: 20px;
        }
        img {
            width: 350px;
            height: 350px;
            border-radius: 6px;
        }
    }
}

.footer {
    padding: 50px 0px;
    background-color: #cb96ed;
    @include tablet-min {
        padding: 40px 0px;
    }
    &__wrapper {
        text-align: center;
    }
    a {
        position: relative;
        padding-right: 50px;
        font-size: 28px;
        font-weight: 700;
        color: #ffffff;
        @include tablet-min {
            font-size: 20px;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 40px;
            height: 40px;
            background: url("@img/icons/telegram.svg") 50% 50% / cover no-repeat;
        }
    }
}
